.app_navbar {
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: #18311D;
  padding: 1rem 2rem;
}

h1{
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__nav-links{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.app__nav-links li {
  margin: 0 1rem;
  cursor: pointer;
}

.app__nav-links li:hover{
  margin: 0 1rem;
  cursor: pointer;
}

.app__navbar-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app__navbar-login a {
  margin: 0 1rem;
  text-decoration: none;
  transition: .5s ease;
}

.app__navbar-login a:hover{
  border-bottom: 1px solid gold;
}

.app___navbar-login div {
  width: 1px;
  height: 30px;
  background-color: white;
}

.app__navbar-login div {
  width: 1px;
  height: 30px;
  background: white;
}






